@import reset
@import global
@import layout

@mixin model_h1
  font-size: 20pt
  margin-bottom: 10px
  font-weight: bold

#home
  ul.model
    display: inline-block
    $padding: 30px
    padding-left: $padding
    padding-right: $padding
    li
      padding: 50px

.show_model
  h1
    @include model_h1
  #ncbi_url
    margin-bottom: 10px
  table.attribute_table
    tfoot
      background-color: #eee - #222
      th
        padding: 5px
        .time
          font-weight: bold
  li
    padding-bottom: 5px
  dl
    dt, dd
      float: left
    dt
      clear: both
      margin-right: 5px
      font-weight: bold

.search_model
  h1
    @include model_h1
  form
    margin-bottom: 10px
  #found
    margin-top: 30px
  ol
    list-style-type: decimal
    margin-left: 20px
    li
      $margin: 10px
      margin-top: $margin
      margin-bottom: $margin
      table.attribute_table
        display: inline-block
        vertical-align: top
        caption
          font-size: 25px
          #ncbi_url
            margin-top: 5px

form.download
  h2
    font-size: 20pt
    font-weight: bold
