@import reset
@import global

table.model_info
  tbody
    tr:nth-child(odd)
      background-color: #eee
    th, td
      padding: 5px
    th
      text-align: right
      font-weight: bold
    td
      padding-left: 10px
