html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 10; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: blue; }

strong.highlight {
  background-color: yellow;
  font-weight: bold;
  padding-left: 1px;
  padding-right: 1px;
  text-decoration: inherit; }

ul.hanging_indent {
  padding-left: 1em;
  text-indent: -1em; }

ul.bullet_list {
  list-style: disc;
  list-style-position: inside; }

table.attribute_table tbody tr:nth-child(odd) {
  background-color: #eeeeee; }
table.attribute_table tbody th, table.attribute_table tbody td {
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px; }
table.attribute_table tbody th {
  text-align: right;
  font-weight: bold;
  font-size: 14pt;
  vertical-align: top; }
table.attribute_table tbody td {
  padding-left: 20px; }

#ncbi_url {
  font-size: 10pt; }

.hint {
  font-size: 70%;
  font-style: italic;
  color: gray; }

.discontinued {
  color: red;
  font-style: italic;
  font-size: 125%; }

html {
  font-family: sans-serif; }

body {
  padding-top: 0; }

#menu_bar {
  height: 1.5em;
  position: fixed;
  width: 100%;
  min-width: 200px;
  background: lightblue;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 5px gray;
  -moz-box-shadow: 0px 1px 5px gray; }
  #menu_bar ul li {
    float: left; }
  #menu_bar ul #title {
    font-size: 20pt;
    font-weight: bold; }
    #menu_bar ul #title a {
      text-decoration: none; }
  #menu_bar ul #polymorphic_search {
    float: right;
    margin-right: 10px; }

#main {
  padding: 10px;
  padding-top: 3em;
  background-color: white;
  border-radius: 10px; }

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #cccccc;
  background: #eeeeee;
  border: 1px solid #cccccc;
  opacity: 0.9; }
  #footer:hover {
    opacity: 1;
    color: #888888; }
  #footer #version {
    font-size: 10pt;
    padding: 5px; }

#home form.download {
  display: inline-block;
  padding: 50px; }

.show_model h1 {
  font-size: 20pt;
  margin-bottom: 10px;
  font-weight: bold; }
.show_model #ncbi_url {
  margin-bottom: 10px; }
.show_model table.attribute_table tfoot {
  background-color: #cccccc; }
  .show_model table.attribute_table tfoot th {
    padding: 5px; }
    .show_model table.attribute_table tfoot th .time {
      font-weight: bold; }
.show_model li {
  padding-bottom: 5px; }
.show_model dl dt, .show_model dl dd {
  float: left; }
.show_model dl dt {
  clear: both;
  margin-right: 5px;
  font-weight: bold; }

.search_model h1 {
  font-size: 20pt;
  margin-bottom: 10px;
  font-weight: bold; }
.search_model form, .search_model #found {
  margin-bottom: 10px; }
.search_model ol {
  list-style-type: decimal;
  margin-left: 20px; }
  .search_model ol li {
    margin-top: 10px;
    margin-bottom: 10px; }
    .search_model ol li table.attribute_table {
      display: inline-block;
      vertical-align: top; }
      .search_model ol li table.attribute_table caption {
        font-size: 25px; }
        .search_model ol li table.attribute_table caption #ncbi_url {
          margin-top: 5px; }

form.download h2 {
  font-size: 20pt;
  font-weight: bold; }
