%tr
  %th{colspan: 2}
    Updated from NCBI at
    %span.time= object.updated_from_ncbi_at
    %span.link= link_to 'Get updates', url(object.class.name.tableize.to_sym, :refetch, id: object.ncbi_id, method: :put)
