= row_for_attribute object, :updated_from_ncbi_at, label: 'Updated from NCBI at' do
  = object.updated_from_ncbi_at
  = link_to 'Get updates', url(object.class.name.tableize.to_sym, :refetch, id: object.ncbi_id, method: :put)
