%tr
  %th= options[:label] || attribute.to_s.humanize
  - content = options[:content] || object.send(attribute)
  - content = highlight(content.to_s, options[:highlight]) if options[:highlight]
  %td= content
