= form_tag url_for(:snps_locate), class: 'locate' do

  %h2 Locate SNPs

  %p
    Chromosome/base position pairs

  %p.hint
    E.g. '6,32363843' (one per line)

  = text_area_tag :locations, id: 'locations', rows: 25, cols: 25, placeholder: ''
  %br

  = submit_tag 'Locate and download CSV', id: 'locate_and_download'
